// Buttons
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.d3-button {
  transition: all 0.2s;
  margin: 5px;
  padding: 15px;
  font-size: 15px;
  line-height: 15px;
  color: #9c9c9c;
  border-radius: 30px;
  border: 1px solid #c9c9c9;

  &.primary {
    color: #fff;    
    background: #65a80d;
    border: 0;

    &:hover {
      background-color: darken(#65a80d, 10%)
    }
  }

  &:hover {
    transition-duration: 0.4s;
    border-color: darken(#9c9c9c, 10%)
  }
}