// Main section form forms and checkout itens
.main {
  display: flex;

// left items
  &-items {
    order: 1;
  }

// Forms
  &-form {
    order: -1;
  }
}

// Forms
.form {
  text-align: left;

  &-wrapper {
    padding: 10px 0;

    .rccs {
      margin: 0 0 1em 0;
    }
  }

  &-items {
    display: inline-block;
  }

  &-title {
    padding: .2em 0;
  }

  &-btn {
    padding: 1.4em 3em;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;

    &-submit {
      margin-left: 190px;
    }

    &-active,
    &-submit {
      color: #fff;
      background-color: #65a80d;
      border-color: #65a80d;
    }

    &-back {
      margin: 0;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 26px;
        left: 30px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #9B9B9B;
      }
    }
  }

  &-label {
    font-size: 15px;
    color: #9a9a9a;
    font-weight: normal;
  }

  &-input {
    padding: 1.2em 2em;
    margin: .5em;

    &-err {
      position: relative;
      color: #831313;
      border: 2px solid #831313 !important;
      background: url('images/alert.svg') calc(100% - 13px) center no-repeat;
      background-size: 18px;
    }

    &-addr {
      width: 320px;

      &-num {
        width: 30%;
      }
    }

    &-compl {
      width: 300px;
    }

    &-cc-num,
    &-cc-name {
      width: 235px;
    }

    &-cc-cvc {
      width: 25%;
    }
  }

  &-select {
    position: relative;
    display: inline-block;
    margin: 0 .5em;
    background-color: transparent;

    &-uf {
      width: 120px;
    }

    &-city {
      width: 350px;
    }

    &-cc-installments {
      width: 350px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 27px;
      right: 30px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #9a9a9a;
      z-index: -2;
    }

    select {
      -moz-appearance: none;
      -webkit-appearance: none;
      background: transparent;
      width: 100%;
      padding: 1.3em 2em;
      border: 1px solid #D8D8D8;
      border-radius: 10em;
      margin: 0;
      outline: 0;
      cursor: pointer;
      z-index: -1;
    }

    &-err select {
      color: #831313;
      border: 2px solid #831313 !important;
    }
  }

  &-btn,
  &-input {
    border: 1px solid #c9c9c9;
    border-radius: 10em;
    outline: 0;

    &:focus {
      border-color: #65a80d;
      transition: border .2s ease;
    }
  }

  &-helper {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
  }

  &:focus {
    outline: 0 !important;
  }
}

// Checkout Items
.items {
  &-price {
    font-size: 2em;
    font-weight: bold;
    color: #65a80d;

    &-small {
      font-size: .7em;
    }
  }

  &-list {
    margin: .7em;

    &-title {
      font-size: 1.3em;
    }

    &-items {
      list-style: none;
    }
  }
}
